<html>
<head>
    <title>Game
    </title>
</head>
<body>

    <!-- on submit, it will take us to show_madlib() function -->
    <!-- action keyword is to specify which route to go to -->
    <form action="/madlib"> 
     <label>What's your name?<input type="text" name="person" ></label>
     <label>What's your favorite color?<input type="text" name="color" ></label>
     <label>Give me a noun please.<input type="text" name="noun" ></label>
     <label>Give me an adjective please.<input type="text" name="adjective" ></label>
     Select your favorite animal <br>
     <input type="checkbox" name="favorite_animal" value="dog">DOG
     <input type="checkbox" name="favorite_animal" value="cat">CAT
     <input type="checkbox" name="favorite_animal" value="parrot">PARROT
     <input type="checkbox" name="favorite_animal" value="fish">FISH
     <input type="submit">
    </form>

</body>
</html>